@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
  --main-color: #6CACE4;
  --hover-color: #FFB81C;
  --body-color: #FFFFFF;
  --box-color: #7D4016;
}

* {
  scroll-behavior: smooth;
}

@media (min-height: 300px) {
  nav ul {
    list-style: none;

  }
  }

  #nav-wrapper {
    overflow: hidden;
    top:0;
    position: fixed;
    font-size:medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 40px;
    margin-bottom: 45px;
    margin-top: 20px;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  body {
    font-family: 'VT323', monospace;
    background: var(--body-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

main {
  justify-content: center;
}

.home_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  padding: 30px;
  margin: 45px;
  background-color: var(--main-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.home_container_button {
  display: flex;
  flex-wrap: wrap;
  font-family: 'VT323', monospace;
  font-size: x-large;
  display: inline-block;
  margin: auto;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: var(--box-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.home_container_button:hover {
  background-color: var(--hover-color);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: auto;
  padding: 30px;
  margin: 45px;
  background-color: var(--main-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.question {
  font-size:xx-large;
  margin-bottom: 10px;
}

.opciones {
  display: flex;
  font-size: x-large;
  justify-content: space-around;
  padding: 20px;
}

.button {
  font-family: 'VT323', monospace;
  font-size: x-large;
  display: inline-block;
  height: 50px;
  width: 90px;
  margin: auto;
  padding: 5px 10px;
  border-inline-color: var(--box-color);
  color: var(--box-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--hover-color);
}

#toTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--main-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#toTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-5/spo403.cur), auto !important;} /* End https://www.cursors-4u.com */