*{
    font-family: "Roboto", sans-serif;
    background-color: #CF8BA3;    
}

body{
    height: 100vh;
    margin: 0;
    display: grid;
    font-size: 1.8rem;
}

form {
    flex-direction: column;
}

fieldset {
    width: 600px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 20px;
	background-color: #D7A6B3;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display:inline-block;
	border: none;
}

legend {
    font-size: 28px;
	font-weight: 300;
	background: #D7A6B3;
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: #414361;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
	background-color: #D7A6B3;
	position: relative;
	top: 6px;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #D7A6B3;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}

label {
	font-size: 24px;
	font-weight: 100;
	color: #414361;
    background-color: #D7A6B3;
}

div {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: #64aedf;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #ad97githb3;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: #ca8489;
	}
}